/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.nav__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav__link:hover {
  color: #2196f3;
}

.logo {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.logo span {
  color: #2196f3;
}

.nav .logo {
  margin-right: 93px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.contacts__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.contacts__link:hover {
  color: #2196f3;
}

.contacts > .phone::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  background-image: url(../img/phone.svg);
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.hero__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 700px;
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.96px;
  line-height: 1.875;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.hero__button:hover {
  color: #2196f3;
  background: #fff;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding: 94px 0;
}

.benefits__item {
  width: 270px;
}

.benefits__title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.section {
  padding-bottom: 94px;
}

.section__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}

.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 30px;
  margin-top: 50px;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team__name {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.48px;
  padding-top: 30px;
}

.team__position {
  letter-spacing: 0.48px;
  padding-bottom: 30px;
  margin-top: 10px;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  padding-top: 64px;
  padding-bottom: 50px;
}
.button__item {
  color: #212121;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #f5f4fa;
}
.button__item .btn {
  width: 103px;
  height: 38px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button__item .btn:hover {
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 94px;
}

.portfolio__item {
  width: 370px;
  border: 1px solid #eee;
  background: #fff;
}

.portfolio__title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  padding-top: 20px;
  padding-left: 24px;
}

.portfolio__desc {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875;
  letter-spacing: 0.48px;
  margin-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.footer {
  background-color: #2f303a;
}

.footer__nav {
  padding: 60px 0;
}

.footer__logo {
  color: #fff;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.contacts__link--adress {
  color: #fff;
}

.footer__adress {
  color: #fff;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.42px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__adress:hover {
  color: #2196f3;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.42px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__link:hover {
  color: #2196f3;
}